:root {
  --main-font: "Scheherazade New", serif;
  --sec-font: "Poppins", sans-serif;
  --white: #fff;
  --black: #000;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  resize: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 0 1.5rem;
}

#background-container {
  background-image: url("../assets/img/background.png");
  background-size: cover;
}
#header {
  background-image: linear-gradient(
    to bottom,
    var(--black),
    var(--black),
    var(--black),
    transparent
  );
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-logo {
  display: inline-block;
  width: 14rem;
}
#menu-container {
  padding-left: 3rem;
}
#nav-menu {
  display: flex;
  gap: 1rem;
}
#nav-menu li::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  background-color: var(--white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 1rem;
}
#nav-menu li:last-child::after {
  display: none;
}
#nav-menu li a {
  font-family: var(--main-font);
  font-weight: bold;
  color: var(--white);
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}
#nav-menu li a:hover {
  color: #d3d3d3;
}
#hamburguer-menu {
  display: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.menu-slice {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--white);
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}

#intro {
  position: relative;
  color: var(--white);
  text-align: center;
  height: calc(100vh - 165.23px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 6rem;
  font-family: var(--main-font);
  font-weight: bold;
}
.desc,
.button,
.info {
  font-family: var(--sec-font);
}
.desc {
  margin: 1rem 0;
  font-size: 1.3rem;
  line-height: 2rem;
}
.button {
  color: var(--white);
  font-weight: bold;
  font-size: 0.9rem;
  display: inline-block;
  border: 3px solid var(--white);
  border-radius: 0 10px 0 10px;
  -webkit-border-radius: 0 10px 0 10px;
  -moz-border-radius: 0 10px 0 10px;
  -ms-border-radius: 0 10px 0 10px;
  -o-border-radius: 0 10px 0 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.button:hover {
  color: #d3d3d3;
  border-color: #d3d3d3;
}
.intro-btn {
  margin-top: 3rem;
  padding: 1.2rem 2rem;
}
.info {
  margin: 1.5rem 0;
  font-size: 0.9rem;
}
.sub-subtitle {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 2rem;
}
.social-icons {
  position: absolute;
  display: flex;
  gap: 1rem;
  bottom: 2rem;
  right: 0;
  margin-right: 1rem;
  cursor: pointer;
}
#separator img {
  width: 100vw;
  -webkit-user-drag: none;
}
#presentation {
  height: 100vh;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#presentation-content {
  width: min-content;
}
.subtitle {
  font-family: var(--main-font);
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
}
.slide {
  display: flex;
  gap: 5rem;
  margin: 1rem 0;
  align-items: center;
}
.arrow {
  width: min-content;
  height: min-content;
  cursor: pointer;
}
.slide-container {
  position: relative;
  max-width: 720px;
  height: auto;
  width: 720px;
  height: 480px;
  border: 2px solid var(--white);
  border-radius: 0 10px 0 10px;
  -webkit-border-radius: 0 10px 0 10px;
  -moz-border-radius: 0 10px 0 10px;
  -ms-border-radius: 0 10px 0 10px;
  -o-border-radius: 0 10px 0 10px;
  overflow: hidden;
}
.slide-image {
  user-select: none;
  -webkit-user-drag: none;
  opacity: 0;
  visibility: hidden;
  max-width: none;
  position: absolute;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
.slide-image.selected {
  opacity: 1;
  visibility: visible;
}
.slide-image.selected:hover {
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}
.flags-container {
  display: flex;
  margin: -2px 10px 10px;
  justify-content: space-between;
}
.flag {
  -webkit-user-drag: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.presentation-btn {
  padding: 1.2rem 3rem;
}
.presentation-btn:hover > .flags-container > svg > .flag {
  stroke: #d3d3d3;
}
#menu {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  font-family: var(--sec-font);
  padding: 3rem;
}
#menu .sub-subtitle {
  margin-bottom: 1rem;
}
#menu ul li {
  margin-bottom: 0.5rem;
}
#skew {
  margin: 0 auto;
}
.menu-title {
  grid-column: 7;
  margin-bottom: 2rem;
}
.meat {
  grid-column: 1/7;
}
.vegan {
  grid-column: 9/12;
}
.follow-up {
  margin-bottom: 2rem;
  grid-row: 2;
}
.drinks,
.follow-up {
  grid-column: 7;
}
#about {
  font-family: var(--sec-font);
  background-color: rgb(248, 247, 247);
  color: rgb(0, 0, 0);
  padding: 3rem;
  display: flex;
  gap: 10rem;
}
#about-container {
  max-width: 40vw;
}
#about p {
  margin: 1rem 0 1rem 0;
  line-height: 1.5rem;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location-container {
  width: 720px;
  border: 2px solid var(--black);
  overflow: hidden;
  border-radius: 0 10px 0 10px;
  -webkit-border-radius: 0 10px 0 10px;
  -moz-border-radius: 0 10px 0 10px;
  -ms-border-radius: 0 10px 0 10px;
  -o-border-radius: 0 10px 0 10px;
}
.location-container img {
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
.location-container img:hover {
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}
.location-btn {
  position: relative;
  width: fit-content;
  display: inline-block;
  background-color: var(--black);
  padding: 1rem;
  margin-top: -1.75rem;
  z-index: 100;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 3rem;
}
#contact .subtitle {
  margin-bottom: 2rem;
}
.data-container {
  display: flex;
  gap: 20vw;
  margin-top: 2rem;
}
.data-container span {
  font-weight: bold;
}
.data-container p {
  font-family: var(--sec-font);
  margin-bottom: 1rem;
}
.wpp-btn {
  color: var(--white);
  font-family: var(--sec-font);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  background-color: #222;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.social-icon {
  cursor: pointer;
  margin-right: 1rem;
}
#footer {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--sec-font);
  text-align: center;
  padding: 1rem;
}
@media (max-width: 1024px) {
  .slide {
    gap: 2.5rem;
  }
  .slide-container {
    width: 480px;
    height: 360px;
  }
  .slide-image {
    width: 480px;
    height: 360px;
  }
}
@media (max-width: 767px) {
  #header {
    position: relative;
  }
  #nav-menu {
    width: 50vw;
    display: none;
    z-index: 100;
    background-image: linear-gradient(
      to top,
      var(--black),
      var(--black),
      var(--black),
      transparent
    );
    padding: 2rem 0 1rem 0;
    margin-top: -2rem;
    right: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    opacity: 0;
    visibility: hidden;
  }
  #nav-menu li::after {
    display: none;
  }
  #nav-menu li {
    border-bottom: 1px solid #d3d3d3;
  }
  #nav-menu li:last-child {
    border: none;
  }
  #nav-menu li a {
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
  }
  #nav-menu.active {
    display: block;
    position: absolute;
    top: 165.23px;
    visibility: visible;
    opacity: 1;
  }
  #hamburguer-menu {
    display: flex;
    position: relative;
  }
  #hamburguer-menu.active > .menu-slice {
    position: absolute;
  }
  #hamburguer-menu.active > .menu-slice:nth-of-type(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  #hamburguer-menu.active > .menu-slice:nth-of-type(2) {
    opacity: 0;
  }
  #hamburguer-menu.active > .menu-slice:nth-of-type(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  .slide {
    gap: 2rem;
  }
  .slide-container {
    width: 360px;
    height: 240px;
  }
  .slide-image {
    width: 360px;
    height: 240px;
  }
  .arrow {
    width: 1.5rem;
  }
  .meat,
  .vegan,
  .drinks,
  .follow-up {
    grid-column: 7;
    padding: 1rem 0;
  }
  .follow-up {
    margin: 0;
  }
}
@media (max-width: 550px) {
  #header {
    padding: 1.5rem;
  }
  #header-logo {
    width: 50%;
  }
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .desc {
    font-size: 1.1rem;
  }
  .arrow {
    display: none;
  }
}
@media (max-width: 375px) {
  #intro {
    height: 50vh;
  }
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .desc {
    font-size: 1rem;
  }
  .intro-btn {
    margin-top: 1rem;
    padding: 1rem 1rem;
  }
  #presentation {
    height: 75vh;
  }
  .presentation-btn {
    padding: 1rem 2rem;
  }
  .info {
    font-size: 0.8rem;
  }
  .slide-container {
    width: 240px;
    height: 160px;
  }
  .slide-image {
    width: 240px;
    height: 160px;
  }
}
